{{- $children := split .Inner "--break-me-here--" -}}
<div class="lecture-locked"></div>
<div class="lecture">
<!-- margin-left: -3%; margin-right: -20%; width: 55vw;  -->
<div id="navigation" style="margin-left: 0; margin-right: auto; width: 100%; height: auto; z-index: 1000;">
    {{- index $children 0 | safeHTML -}}
</div>

<div id="container" style="margin-left: 0; margin-right: auto; height: 760px; z-index: 1000;">
	<div id="sidebar-left"></div>
	<div id="content" style="max-height: fit-content; background: #2d3237;">
		<div id="main-content" style="background: #2d3237;">
			<video id="video" style="max-width: 100%; height:auto;  padding-top: 20px;" controls>
                <source src="{{ .Get "vid" }}" type="video/webm">
			</video>
            <canvas id="canvas-content" style="max-width: 100%; height:auto;  padding-top: 20px;">
<label>
    <br />Try to play me :)</label>
  <br />
            </canvas>
            <p><div id = "playPause" style = "color: white;">Loading content.</div></p>
		</div>
	</div>
	<div id="sidebar-right">
		<div id="pages">
		</div>
	</div>
</div>
</div>

{{- index $children 1 | safeHTML -}}
<script>
    var canvas = document.getElementById('canvas-content');
    var ctx = canvas.getContext('2d');
    ctx.globalAlpha = 0.2;
    var video = document.getElementById('video');
    video.style.display = 'none';
    var videoContainer;
    videoContainer = {  // we will add properties as needed
         video : video,
         ready : false,   
    };
    
    // set canvas size = video size when known
    video.addEventListener('loadedmetadata', function() {
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
    });
    
    video.onerror = function(e){
        document.body.removeChild(canvas);
        document.body.innerHTML += "<h2>There is a problem loading the video</h2><br>";
        document.body.innerHTML += "the browser does not support playing HTML5 videos";
     }
    //video.style.display = 'none';
    video.oncanplay = readyToPlayVideo; // set the event to the play function that 
    canvas.addEventListener("click",playPauseClick);
    canvas.addEventListener("dblclick", function() {
        if(videoContainer.fullscreen){                                 
              this.requestFullscreen();
              videoContainer.fullscreen = true;
        }else{
              this.requestFullscreen();
              videoContainer.fullscreen = false;
        }
    }, 0);

function readyToPlayVideo(event){ // this is a referance to the video
    // the video may not match the canvas size so find a scale to fit
    //videoContainer.scale = Math.min(
    //                     canvas.width / this.videoWidth, 
    //                     canvas.height / this.videoHeight); 
    videoContainer.ready = true;
    videoContainer.fullscreen = false;
    // the video can be played so hand it off to the display function
    requestAnimationFrame(updateCanvas);
    // add instruction
    document.getElementById("playPause").textContent = "Click to play/pause. Double click to go into full screen mode and use the search functionality to jump to a specific timestamp.";
}
function updateCanvas() {
  ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
  requestAnimationFrame(updateCanvas);
}
function drawPlayIcon(){
     ctx.fillStyle = "black";  // darken display
     ctx.globalAlpha = 0.5;
     ctx.fillRect(0,0,canvas.width,canvas.height);
     ctx.fillStyle = "#DDD"; // colour of play icon
     ctx.globalAlpha = 0.75; // partly transparent
     ctx.beginPath(); // create the path for the icon
     var size = (canvas.height / 2) * 0.5;  // the size of the icon
     ctx.moveTo(canvas.width/2 + size/2, canvas.height / 2); // start at the pointy end
     ctx.lineTo(canvas.width/2 - size/2, canvas.height / 2 + size);
     ctx.lineTo(canvas.width/2 - size/2, canvas.height / 2 - size);
     ctx.closePath();
     ctx.fill();
     ctx.globalAlpha = 1; // restore alpha
}
function playPauseClick(){
     if(videoContainer !== undefined && videoContainer.ready){
          if(videoContainer.video.paused){                                 
                videoContainer.video.play();
          }else{
                videoContainer.video.pause();
          }
     }
}

</script>
