<div class="lecture-locked"></div>
<div class="lecture">
<div class='card-bar'></div>
<div class='card-body'>
    <h3 class='h4 card-title'>👋 Content will be available on the {{ if .Get "date" }}{{ .Get "date" }}{{ else }}3rd of April 2023{{ end }}</h3>
    <form class='row gx-2 gy-3 email-form' method='post' name='newsletter' onsubmit='subscribeButton.disabled=!0'><input
            type='hidden' name='form-name' value='newsletter'>
        <div class='col-md-4'><a id='loginButton'
                href='https://eveeno.com/parainopenfoam240403'
                class='btn btn-primary w-100'>Register at eveeno.com</a></div>
    </form>
</div>
</div>
